%thead
  %tr
    %th{:rowspan => "2"} Rank
    %th.player{:rowspan => "2"} Player
    %th{:rowspan => "2"} Draftees
    %th.draftee-stats{:colspan => "3"} Draftee Stats
  %tr
    %th.draftee-stat Shots
    %th.draftee-stat Likes
    %th.draftee-stat
      %a{:href => 'about/'}
        %abbr{:title => "Likes Above Average"} LAA
      Score
%tbody
  -@players.each_with_index do |player, i|
    %tr
      %td= (@page - 1) * PlayersController::PER_PAGE + i + 1
      %td.user
        %dl
          %dt
            %a{:href => player_path(player)}= player.name
          %dd.twitter
            =twitter_link(player)
          %dd.avatar
            %a{:href => player.url}
              %img{:alt => "#{player.name} avatar", :src => player.avatar_url}/
      %td
        %div.draftees
          %a{:href => "#{player.url}/draftees"}= player.send(:"draftees_#{@shot_sample}").size
          - if player.send(:"draftees_#{@shot_sample}").present?
            .top-draftees
              .arrow
              - top_draftees = player.send(:"draftees_#{@shot_sample}")[0..9]
              %dl
                %dt
                  =possessive(player.name)
                  %span
                    = "Top " if player.send(:"draftees_#{@shot_sample}").size > 10
                    = pluralize(top_draftees.size, "Draftee")
                  %small
                    Minimum
                    = pluralize(@shot_sample, "shot")
                %dd
                  %ol
                    - top_draftees.each do |draftee|
                      %li
                        =link_to image_tag(draftee.avatar_url, :alt => "#{possessive(draftee.name)} avatar") + draftee.name, player_path(draftee)
                        ="(#{sprintf("%.1f",draftee.personal_laa)})"
      %td= player.draftee_shots_count(@shot_sample)
      %td= player.draftee_likes_received_count(@shot_sample)
      %td= sprintf("%.1f",player.send("laa_#{@shot_sample}"))
