#wrapper
  %h1
    %a{:href => "/"} Scouuuts
  %p.tagline
    Who is drafting the best talent into
    = succeed "?" do
      %a{:href => "http://dribbble.com"} Dribbble
  %table
    %thead
      %tr
        %th{:rowspan => "2"} Rank
        %th.player{:rowspan => "2"} Player
        %th{:rowspan => "2"} Draftees
        %th.draftee-stats{:colspan => "3"} Draftee Stats
        %th{:rowspan => "2"}
          = link_to "LAA", :controller => "about"
          Score
      %tr
        %th.draftee-stat Shots
        %th.draftee-stat Views
        %th.draftee-stat Likes
    %tbody
      -@players.each do |player|
        %tr
          %td #
          %td.user
            %dl
              %dt
                %a{:href => player.url}= player.name
              %dd.twitter
                =twitter_link(player)
              %dd.avatar
                %a{:href => player.url}
                  %img{:alt => "#{player.name} avatar", :src => player.avatar_url}/
          %td
            %div.draftees
              %a{:href => "http://dribbble.com/players/#{player.id}/draftees"}= player.draftees_count
              .top-draftees
                .arrow
                %dl
                  %dt
                    =possessive(player.name)
                    %span Top Draftees
                  %dd
                    %ol
                      %li
                        %a{:href => "http://dribbble.com/players/adarowski"}
                          %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                          Adam Darowski
                        (2,143)
                      %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
          %td= player.shots_count
          %td N/A
          %td= player.likes_received_count
          %td #





      %tr
        %td 1
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/simplebits"} Dan Cederholm
            %dd.twitter
              %a{:href => "http://twitter.com/simplebits"} @simplebits
            %dd.avatar
              %a{:href => "http://dribbble.com/players/simplebits"}
                %img{:alt => "Dan Cederholm avatar", :src => "http://dribbble.com/system/users/1/avatars/thumb/dancederholm-peek.jpg"}/
        %td
          %div.draftees
            %a{:href => "http://dribbble.com/players/simplebits/draftees"} 104
            .top-draftees
              .arrow
              %dl
                %dt
                  Dan Cederholm&rsquo;s
                  %span Top Draftees
                %dd
                  %ol
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
                    %li
                      %a{:href => "http://dribbble.com/players/adarowski"}
                        %img.draftee-avatar{:alt => "Adam Darowski avatar", :src => "http://dribbble.com/system/users/7/avatars/thumb/DSC_0188_4_bigger.jpg?1249513132"}/
                        Adam Darowski
                      (2,143)
        %td 2,144
        %td 118,412
        %td 4,612
        %td 113,242
      %tr
        %td 2
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/frogandcode"} Rich Thornett
            %dd.twitter
              %a{:href => "http://twitter.com/frogandcode"} @frogandcode
            %dd.avatar
              %a{:href => "http://dribbble.com/players/frogandcode"}
                %img{:alt => "Rich Thornett avatar", :src => "http://dribbble.com/system/users/2/avatars/thumb/headshot.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/frogandcode/draftees"} 36
        %td 796
        %td 14,116
        %td 1,822
        %td 18,757
      %tr
        %td 3
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/simplebits"} Dan Cederholm
            %dd.twitter
              %a{:href => "http://twitter.com/simplebits"} @simplebits
            %dd.avatar
              %a{:href => "http://dribbble.com/players/simplebits"}
                %img{:alt => "Dan Cederholm avatar", :src => "http://dribbble.com/system/users/1/avatars/thumb/dancederholm-peek.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/simplebits/draftees"} 104
        %td 2,144
        %td 118,412
        %td 4,612
        %td 113,242
      %tr
        %td 4
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/frogandcode"} Rich Thornett
            %dd.twitter
              %a{:href => "http://twitter.com/frogandcode"} @frogandcode
            %dd.avatar
              %a{:href => "http://dribbble.com/players/frogandcode"}
                %img{:alt => "Rich Thornett avatar", :src => "http://dribbble.com/system/users/2/avatars/thumb/headshot.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/frogandcode/draftees"} 36
        %td 796
        %td 14,116
        %td 1,822
        %td 18,757
      %tr
        %td 5
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/simplebits"} Dan Cederholm
            %dd.twitter
              %a{:href => "http://twitter.com/simplebits"} @simplebits
            %dd.avatar
              %a{:href => "http://dribbble.com/players/simplebits"}
                %img{:alt => "Dan Cederholm avatar", :src => "http://dribbble.com/system/users/1/avatars/thumb/dancederholm-peek.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/simplebits/draftees"} 104
        %td 2,144
        %td 118,412
        %td 4,612
        %td 113,242
      %tr
        %td 6
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/frogandcode"} Rich Thornett
            %dd.twitter
              %a{:href => "http://twitter.com/frogandcode"} @frogandcode
            %dd.avatar
              %a{:href => "http://dribbble.com/players/frogandcode"}
                %img{:alt => "Rich Thornett avatar", :src => "http://dribbble.com/system/users/2/avatars/thumb/headshot.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/frogandcode/draftees"} 36
        %td 796
        %td 14,116
        %td 1,822
        %td 18,757
      %tr
        %td 7
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/simplebits"} Dan Cederholm
            %dd.twitter
              %a{:href => "http://twitter.com/simplebits"} @simplebits
            %dd.avatar
              %a{:href => "http://dribbble.com/players/simplebits"}
                %img{:alt => "Dan Cederholm avatar", :src => "http://dribbble.com/system/users/1/avatars/thumb/dancederholm-peek.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/simplebits/draftees"} 104
        %td 2,144
        %td 118,412
        %td 4,612
        %td 113,242
      %tr
        %td 8
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/frogandcode"} Rich Thornett
            %dd.twitter
              %a{:href => "http://twitter.com/frogandcode"} @frogandcode
            %dd.avatar
              %a{:href => "http://dribbble.com/players/frogandcode"}
                %img{:alt => "Rich Thornett avatar", :src => "http://dribbble.com/system/users/2/avatars/thumb/headshot.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/frogandcode/draftees"} 36
        %td 796
        %td 14,116
        %td 1,822
        %td 18,757
      %tr
        %td 9
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/simplebits"} Dan Cederholm
            %dd.twitter
              %a{:href => "http://twitter.com/simplebits"} @simplebits
            %dd.avatar
              %a{:href => "http://dribbble.com/players/simplebits"}
                %img{:alt => "Dan Cederholm avatar", :src => "http://dribbble.com/system/users/1/avatars/thumb/dancederholm-peek.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/simplebits/draftees"} 104
        %td 2,144
        %td 118,412
        %td 4,612
        %td 113,242
      %tr
        %td 10
        %td.user
          %dl
            %dt
              %a{:href => "http://dribbble.com/players/frogandcode"} Rich Thornett
            %dd.twitter
              %a{:href => "http://twitter.com/frogandcode"} @frogandcode
            %dd.avatar
              %a{:href => "http://dribbble.com/players/frogandcode"}
                %img{:alt => "Rich Thornett avatar", :src => "http://dribbble.com/system/users/2/avatars/thumb/headshot.jpg"}/
        %td
          %a{:href => "http://dribbble.com/players/frogandcode/draftees"} 36
        %td 796
        %td 14,116
        %td 1,822
        %td 18,757
