%section#player

  #player-data
    .avatar
      %img{:alt => "#{@player.name} avatar", :src => @player.avatar_url}/

    %h2= @player.name
    %dl
      - if @player.website_url.present?
        %dt On the Web
        %dd= link_to display_website(@player), @player.website_url
      - if @player.twitter_screen_name.present?
        %dt On Twitter
        %dd= twitter_link(@player)
      %dt On Dribbble
      %dd= link_to(@player.dribbble_login, @player.url)
      - if @player.drafted_by
        %dt Drafted by
        %dd= link_to @player.drafted_by.name, player_path(@player.drafted_by)

  %table#player-stats
    %caption
      = possessive(@player.name)
      Stats
    %thead
      %th Shots
      %th Likes
      %th
        %a{:href => '../about/'}
          %abbr{:title => "Likes Above Average"} LAA
        Score
    %tbody
      %tr
        %td= @player.shots_count
        %td= @player.likes_received_count
        %td= sprintf("%.1f", @player.personal_laa)

  #player-rankings
    %h3
      = possessive(@player.name)
      Rankings
    %table
      %thead
        %th.shot-count Shot Minimum
        %th Player Rank
        %th Scout Rank
      %tbody
        %tr
          %td.shot-count 1 Shot
          %td
            25
            %small (of 5000)
          %td
            13
            %small (of 2000)
        %tr
          %td.shot-count 10 Shots
          %td
            25
            %small (of 5000)
          %td
            13
            %small (of 2000)
        %tr
          %td.shot-count 50 Shots
          %td
            25
            %small (of 5000)
          %td
            13
            %small (of 2000)
        %tr
          %td.shot-count 100 Shots
          %td
            25
            %small (of 5000)
          %td
            13
            %small (of 2000)

  - if @player.draftees_count > 0
    #player-draftees
      %h3
        = possessive(@player.name)
        = pluralize(@player.draftees_count, "Draftee")
      %table#draftee-stats
        %thead
          %th.player Player
          %th Shots
          %th Likes
          %th
            %a{:href => '../about/'}
              %abbr{:title => "Likes Above Average"} LAA
            Score
        %tbody
          - @player.draftees.each do |draftee|
            %tr
              %td.user
                %dl
                  %dt
                    = link_to draftee.name, player_path(draftee)
                  %dd.twitter
                    = twitter_link(draftee)
                  %dd.avatar
                    %a{:href => draftee.url}
                      %img{:alt => "#{possessive(draftee.name)} avatar", :src => draftee.avatar_url}/
              %td= draftee.shots_count
              %td= draftee.likes_received_count
              %td= sprintf("%.1f", draftee.personal_laa)
          %tr.totals
            %td Totals
            %td= @player.draftee_shots_count
            %td= @player.draftee_likes_received_count
            %td= sprintf("%.1f", @player.draftee_total_laa)
